asgiref==3.7.2
celery==5.3.6
channels==4.0.0
channels-redis==4.2.0
Django>=3.2,<5.0  # این خط تغییر یافته است
django-celery-beat==2.5.0
django-cleanup==8.0.0
django-compat==1.0.15
django-cors-headers==4.3.1
django-redis==5.4.0
django-rest-passwordreset==1.4.0
django-rest-swagger==2.2.0
django-taggit==5.0.1
django-timezone-field==6.1.0
djangochannelsrestframework==1.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
openapi-codec==1.3.2
pillow==10.2.0
psycopg2-binary==2.9.9
redis==5.0.1
daphne
drf_spectacular